/* Imports custom fonts from Google */

/*  Comic Neue || Bangers */
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@700&display=swap');

/* Changes the whole website's CSS, but can still overridden by other more specifically targeted CSS */
* {
	border-color: currentColor;
	scroll-behavior: smooth;
}

html {
	text-align: center;
}

.dark-mode {
	background-color: #222;
	color: white;
	overflow-wrap: break-word;
	z-index: 1;
	text-align: center;
	margin: 0;
	transition: all 0.5 ease;
}

body {
	margin: 0;
	padding: 0;
	background-color: rgb(200, 200, 200);
	color: black;
	overflow-wrap: break-word;
	z-index: 1;
	text-align: center;
	margin: 0;
	overflow-x: hidden !important;
	transition: all 0.4s ease;
}

#bgImg {
	z-index: -1;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	top: 50px;
	filter: brightness(75%);
}

a {
	text-decoration: none;
	color: inherit;
}

.hoverToChange {
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	border: 3px solid currentColor;
	border-radius: 5px;
	font-size: 30px;
}

/* Animation Keyframes */
/* prettier-ignore */
@keyframes pulse {
	0% {
	  -webkit-transform: translate(0, 0);
			  transform: translate(0, 0); }
	50% {
	  -webkit-transform: translate(0, 10px);
			  transform: translate(0, 10px); }
	100% {
	  -webkit-transform: translate(0, 0);
			  transform: translate(0, 0); } }

@keyframes slideDown {
	from {
		bottom: 100px;
		opacity: 0%;
	}
	to {
		bottom: 0px;
		opacity: 100%;
	}
}

/* prettier-ignore */
@keyframes slideLeft {
	from {right: 100px; opacity: 0%}
	to 	 {right: 0px; opacity: 100%}
}

/* prettier-ignore */
@keyframes scroll {
	0% {transform: translate(0);}
	50% {transform: translate(0,40px);}
	100% {transform: translate(0);}
	
}

.scrollDown {
	display: block;
	margin: auto;
	text-align: center;
	-webkit-animation: scroll 3s ease infinite;
	-moz-animation: scroll 3s ease infinite;
	-o-animation: scroll 3s ease infinite;
	animation: scroll 3s ease infinite;
}

/* Navbar CSS */
nav a {
	text-decoration: none;
	color: inherit;
	font-size: 20px;
}

nav {
	padding-top: 0;
	position: sticky;
	float: left;
	top: 0px;
	width: 100%;
	background-color: rgba(220, 220, 220, 0.4);
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	z-index: 2;
}

nav li {
	padding: 15px 4em 15px 4em;
	display: inline;
	transition: all 0.5s ease;
}

nav li:hover {
	background-color: rgba(135, 135, 135, 0.9);
	transition: all 0.5s ease;
}

nav h1 {
	font-size: 35px;
}

#navBorder {
	border: 1px solid rgba(135, 135, 135, 1);
}

/* Dark Mode Switch */

.darkSwitch {
	width: 100%;
	float: left;
	text-align: center;
	top: 0px;
	padding-bottom: 10px;
}
#innerSwitch {
	display: inline-block;
	color: inherit;
	cursor: pointer;
	border: 1px solid #555;
	border-radius: 1.25rem;
	width: 3.125rem;
	text-align: center;
	font-size: 1rem;
	padding: 0px;
	margin-left: 0.3125rem;
	background-color: inherit;
}

/* Styles for the greeting on Home Page */
.titleOfPage {
	font-size: 50px;
	padding-top: 150px;
	font-family: 'Bangers', cursive;
}

#testing {
	font-family: cursive;
	padding-top: 50px;
	padding-bottom: 20px;
}

.frontPage {
	background-color: inherit;
}

p {
	font-size: 1.5em;
}

#alertBtn {
	display: inline-block;
	vertical-align: text-bottom;
}

#alertInput {
	position: relative;
	width: 200px;
	height: 100px;
	border: 3px solid rgba(63, 63, 63, 0.5);
	border-radius: 3px;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-repeat: no-repeat;
	background-color: #222;
	color: inherit;
	resize: none;
}

/* CSS for the Interactive Part of the Website */

/* Makes the interactive Div buttons, display like a navigation bar */
#inputDiv {
	display: inline;
}

/* Makes the font size changer hidden until the button is pressed */
#fontChangeDiv {
	display: none;
}

#textColorToggle {
	text-align: center;
	position: relative;
}
/* Makes color settings hidden until the button is pressed */
#colorInput {
	display: none;
}

#colorInput input {
	height: 25px;
	width: 250px;
}

/* Styles the Text area to make it looks nicer */
textarea {
	position: relative;
	width: 600px;
	height: 120px;
	border: 3px solid #504e4e;
	border-radius: 3px;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-repeat: no-repeat;
	background-color: inherit;
	color: inherit;
	width: 50%;
	resize: none;
}

#interactiveDiv input {
	background-color: inherit;
	color: inherit;
	border: 2px solid white;
	border-radius: 4px;
}

#interactiveDiv button {
	height: 25px;
}
/*
#interactiveDiv button:hover {
	background-color: rgba(135, 135, 135, 0.9);
	cursor: pointer;
}*/

/* Button to confirm the text inside the text area above */
#textButton {
	display: inline-block;
	vertical-align: text-bottom;
	background-color: inherit;
}

.container {
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 100px;
}

/* CSS for Introduction in Index.html */
iframe {
	width: 50%;
}

.introductions {
	backdrop-filter: blur(2px);
	margin-top: 150px !important;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgba(225, 225, 225, 0.5);
	background-blend-mode: darken;
	backdrop-filter: blur(4px);
	line-height: 50px;
}

button {
	color: inherit;
	background-color: rgba(10, 10, 10, 0.2);
	border-radius: 4px;
	border: 1px solid rgba(130, 130, 130, 0.5);
	height: 35px;
	width: inherit;
}

button:hover {
	background-color: rgba(200, 200, 200, 0.9);
	cursor: pointer;
}

.mistakes strong {
	font-size: 30px;
	color: red;
}

.spotifyDiv {
	display: inline;
}

.explanationSpot {
	text-align: right;
	position: relative;
}

#spotifySnippet {
	width: 50%;
	height: 10px;
}

/* About Me Page */
.aboutPage {
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 5px;
	padding-bottom: 20px;
	background-color: rgba(225, 225, 225, 0.4);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

.aboutPage a {
	color: rgb(106, 97, 231);
}

.aboutPage a:hover {
	text-decoration: underline;
}

.aboutPage p {
	text-align: left;
	padding-left: 80px;
	padding-right: 80px;
	font-size: 2em;
	font-family: 'Comic Neue', cursive;
	padding-bottom: 15px;
	line-height: 2em;
}

.aboutPage h1 {
	font-size: 2.5em;
	font-family: cursive;
	padding-bottom: 15px;
	line-height: 2em;
}

.sourceCode a p,
.socialMedia a p {
	color: white !important;
	position: relative;
	font-size: 25px;
	margin-bottom: 0px;
	opacity: 0%;
}

.sourceCode a:hover p,
.socialMedia a:hover p {
	opacity: 100%;
	text-decoration: none;
}

.sourceCode a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	padding-left: 50px;
	padding-right: 50px;
	margin-right: 50px;
	margin-left: 50px;
}

.sourceCode a:hover,
.aboutPage a:hover {
	border: 3px solid rgb(106, 97, 231);
	border-radius: 5px;
	text-decoration: none;
	opacity: 100%;
}

.sourceCode a,
.socialMedia a {
	opacity: 50%;
	margin-top: 0px;
	box-sizing: border-box;
}

.socialMedia a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-right: 100px;
	margin-left: 100px;
}

.socialMedia a:hover {
	border: 0;
	opacity: 100%;
}

/* Dark Mode Stuff ALWAYS PUT IN THE BOTTOM */
.darkModeIntro {
	backdrop-filter: blur(2px);
	margin-top: 150px;
	text-align: left;
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgba(49, 49, 49, 0.7);
	backdrop-filter: blur(4px);
	line-height: 50px;
}

.darkModeNav {
	margin: 0px;
	padding-top: 0;
	position: sticky;
	float: left;
	top: 0px;
	width: 100%;
	background-color: rgba(50, 50, 50, 0.4);
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	z-index: 2;
	transition: all 0.5s ease;
}

.aboutPageDark {
	margin-top: 100px;
	margin-left: 50px;
	margin-right: 50px;
	padding-top: 5px;
	padding-bottom: 20px;
	background-color: rgba(17, 17, 17, 0.6);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}

@media screen {
	pre .token.comment {
		color: grey;
	}
}

code {
	font-size: 20px;
	margin-right: 100px;
	margin-right: 100px;
	padding-top: 0;
	padding-left: 25px;
	white-space: pre-wrap;
}

.codeSnippets {
	margin-right: 100px;
	margin-left: 100px;
	overflow-y: auto;
	scrollbar-color: #7f7f7f transparent; /* thumb and track color */
	scrollbar-width: thin;
}

footer {
	background-color: currentColor;
}

.defaultFooter {
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 200px;
	padding-top: 25px;
	text-align: left;
	background-color: inherit;
	padding-bottom: 50px;
	margin-bottom: none;
}

.footerTitle h5 {
	font-size: 25px;
	margin-top: 0;
	padding-top: 0;
}

.footerTitle h1 {
	font-size: 75px;
	margin-bottom: 20px;
	padding-bottom: 0;
}

.footerLinks a {
	margin-right: 25px;
}

.btn {
	border: 1px solid currentColor;
	transition: all 0.2s ease;
	padding: 10px 20px;
}

.btn a {
	text-decoration-color: currentcolor;
}

.btn:hover {
	color: #292929;
	background: #108feb;
}

/*  Interactive Part of the Website */

.addBtn {
	margin-top: 25px;
	width: 30px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: rgba(17, 17, 17, 0.4);
	border-radius: 70px;
	transition: all 0.5s ease;
}

.addBtn:hover {
	background-color: rgba(62, 109, 211, 0.822);
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	color: rgba(255, 255, 255, 0.4);
	cursor: pointer;
	transition: all 0.5s ease;
}

/* Bg Color Picker */
.bgColorPicker {
	display: inline;
}

.pickr {
	display: inline;
}

.color-picker {
	display: inline;
}

select {
	border: 1px solid rgba(10, 10, 10, 0.2);
	background-color: rgba(33, 65, 204, 0.61);
	box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
	height: 30px;
	width: 150px;
	color: inherit;
	-webkit-appearance: button;
	appearance: button;
	outline: none;
	cursor: pointer;
}

select:hover {
	cursor: pointer;
}

option {
	color: currentColor;
	border-bottom: 1px solid black;
}

/*select option {
	border: 1px solid rgba(10, 10, 10, 0.2);
	background: #222;
	color: inherit;
	cursor: pointer;
}

select option:hover {
	background: white;
	transition: all 0.5s ease;
	cursor: pointer;
}*/

.addPanelSpan {
	font-size: 25px;
	border: 1px solid currentColor;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 12px;
	padding-top: 12px;
	/*transition: all 0.5s ease;*/
	border-radius: 2px;
}

.addPanelSpan:hover,
.addPanelSpan:focus {
	cursor: pointer;
	background-color: blue;
	border: transparent;
	transition: all 0.4s ease;
}

.inputSubmit {
	transition: all 0.5s ease;
}

.inputSubmit:hover {
	cursor: pointer;
	background-color: blue !important;
	color: currentColor;
	transition: all 0.5s ease;
	border: 2px solid transparent !important;
}

.paragraphConfirmBtn {
	text-align: center;
	padding: 20px;
	margin-top: 25px;
	margin-bottom: 10px;
	vertical-align: text-bottom;
	border: 2px solid currentColor;
	border-radius: 10px;
}

.paragraphConfirmBtn:hover {
	cursor: pointer;
	background: red;
	border: transparent;
	transition: all 0.4s ease;
}

.newPanelContainer {
	padding-left: 50px;
	padding-right: 50px;
}

.newPanels {
	backdrop-filter: blur(2px);
	margin-top: 150px;
	text-align: left;
	padding-bottom: 40px;
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 50px;
	background-color: rgba(49, 49, 49, 0.7);
	backdrop-filter: blur(4px);
	line-height: 50px;
}
